<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="gprofilebuilder"
         name="Gradle Profile Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="com.vk.gradle.profile.builder.GProfileBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="gprofilenature"
         name="Gradle Profile Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.vk.gradle.profile.builder.GProfileNature">
         </run>
      </runtime>
      <builder
            id="gprofile.gprofilebuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            nameFilter="*"
            id="gprofile.contribution1">
         <action
               label="Add/Remove Gradle Profile Nature"
               class="com.vk.gradle.profile.builder.ToggleNatureAction"
               menubarPath="additions"
               enablesFor="+"
               id="gprofile.addRemoveNatureAction">
         </action>
      </objectContribution>
   </extension>
   <extension
         id="xmlProblem"
         name="XML Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>

</plugin>
